<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= title %>
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" integrity="sha512-Z0kTB03S7BU+JFU0nw9mjSBcRnZm2Bvm0tzOX9/OuOuz01XQfOpa0w/N9u6Jf2f1OAdegdIPWZ9nIZZ+keEvBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="parent-container">
            <div class="heading-container">
                <h1>To-Do App</h1>
            </div>
            <hr>
            <form action="/create-todo" method="post">
            <div class="task-container ">
               
                <div class="description">
                    <p>DESCRIPTION</p>
                    <input type="text" id="descr" name="desc" placeholder="What do you need to do?" required>
                </div>
                <hr>
                <div class="category-date-container">
                    <div class="category-container">
                        <label for="category">CATEGORY</label>
                        <br>
                        <select name="category" id="category" arial-placeholder="Choose a Category">
                            <option value="" disabled selected>Choode a Category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="College">College</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <span class="date-container">
                        <p>Due Date:</p>
                      
                        <input type="date" name="dateValue" class="datesValues"  required>
                    </span>
                </div>
                <hr>
                <div class="action-btn-container">
                    
                    <button  class="add-btn" >Add Task!</button>
                    <button class="delete-btn" id="deleteButton" >Delete Task

                    </button>
                </div>
            </div>
            </form>
            <hr>
            <div class="newTask-container">
                <% for(let i of todo_list) { %>
                    <li class = "todos">
                        <div class="details">
                            <input type="checkbox" name="delechack" class="delechack" onclick="checkedOrNot()" id = <%= i._id %> >
                            <p><%=i.desc%></p>
                            <p ><%=i.category%></p>
                            <p><%=i.dueDate%> </p>
                        </div>
                        <div class="delete-icon">
                            <a href='/delete-todo/?id=<%=i._id%>'>
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </li>
               <% } %>
            </div>


        </div>
        
        <script src="/js/script.js" async defer></script>
    </body>
</html>